body{
    margin: 0;
    background-color: #e6e6e6;
    font-family: 'OCR A Extended', serif;
}
header{
    background-color: #b3b3b3;
    text-align: center;
    padding: 0 1rem 1rem;
}
header img{
    padding: 1rem 1rem 0;
    max-width: 300px;
}
nav{
    padding: 1rem 0;
}
a{
    text-decoration: none;
    color: #00ff00;
    background-color: black;
    padding: 1rem;
    border: 2px solid transparent;
    margin: 0 .5rem 0;
}
a:hover{
    border: 2px solid #00ff00;
}
main{
    background-color: black;
    margin: 1rem;
    padding: .25rem 1rem;
}
h2{
    color: #00ff00;
}
p{
    color: #00ff00;
}
li{
    color: #00ff00;
}
footer{
    background-color: black;
    margin: 1rem;
    padding: .25rem 1rem;
}
#gallery{
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    gap: 2rem;
    justify-items: center;
}
main img{
    border: 2px solid #00ff00;
}
.about{
    float: right;
    margin-left: 1rem;
    margin-right: 1rem;
}
.about img{
    max-width: 200px;
}
.gallery{
    text-align: center;
}
.gallery img{
    width: fit-content;
    max-height: 250px;
}
img{
    max-width: 100%;
}
@media (max-width:500px){
    .about{
        display: block;
        text-align: center;
        float: none;
    }
    a{
        margin: 0;
    }
}
@media (max-width:750px){
    #gallery{
        grid-template: 1fr 1fr 1fr / 1fr 1fr;
    }
}
@media (min-width:750px){
    .gallery img{
        max-height: 400px;
    }
}
@media (min-width:1000px){
    header{
        display: flex;
        justify-content: space-between;
        padding: 0;
        max-height: 100px;
    }
    header img{
        padding: 1rem;
    }
    header>div{
        display: flex;
    }
    h1{
        text-align: left;
    }
    nav{
        display: flex;
        text-align: center;
        align-items: center;
        padding: 1rem;
        position: relative;
        left: 8px;
    }
    #sam{
        display: flex;
        align-items: center;
    }
}